/**
  ====  此处修改主题样式，具体变量名参考
  ====  taro-ui/dist/style/variables/default.scss 文件
*/
$color-brand:#028BFE;
$border-radius-md: 0%;

$at-button-bg: linear-gradient(-90deg,rgba(2,134,254,1),rgba(3,170,255,1));

@import "~taro-ui/dist/style/index.scss";